<div class="container col-3">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Explore By County
        </a>
        <%countyArray.forEach(c => {%>
          <a href="/county/<%= c.dataValues.id %> " class="list-group-item list-group-item-action"><%= c.dataValues.name %> </a>
        <%})%> 
      </div>
    </div>
  </div>
</div>


<div class="container col-6">
  <div class="embed-responsive embed-responsive-4by3">
    <iframe
    class="embed-responsive-item"
    width="600"
    height="450"
    style="border:0"
    loading="lazy"
    allowfullscreen
    src="https://www.google.com/maps/embed/v1/place?key=<%= apikey %>&q=<%= data.dataValues.searchString%>,WV">
    </iframe>
  </div>
</div>