<h2>Homepage</h2>

<div class="card mb-3">
    <img class="card-img-top" src=" <%= data.image %> " alt="Fairy Trail">
    <div class="card-body">
      <h5 class="card-title"> <%= data.name %> </h5>
      <p class="card-text"> <%= data.content %> </p>
      <p class="card-text"><small class="text-muted">Last updated: <%= data.updatedAt %> </small></p>
    </div>
  </div>


