<h2>Homepage</h2>

<%data.forEach(eachData => {%>
    
<div class="card mb-3">
    <h5 class="card-title"> <%= eachData.dataValues.title %> </h5>
    <p class="card-text"> <%= eachData.dataValues.content %> </p>
    <p class="card-text"><small class="text-muted">Last updated: <%= eachData.dataValues.updatedAt %> </small></p>
    <div class="card-body">
      
    </div>
  </div>
  <%})%>

